<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/projects.css">
    <link rel="stylesheet" href="/styles/transitions.css">
    <title>Document</title>
</head>

<body>
    <div class="transition swipe"></div>
    <div class="tran-load swipe-load active2"></div>
    <div id="main">
        <header>
            <h2 class="logo"><a class="transition-a" href="home.html">Michael Suggs</a></h2>
            <div class="project-list">
                <a href="#project1">Project One</a>
                <a href="#project2">Project Two</a>
                <a href="#project3">Project Three</a>
                <a href="#project4">Project Four</a>
                <a href="#project5">Project Five</a>

            </div>
            <div class="toggle"></div>

        </header>
        <div id="project1" class="box-odd">
            <div class="project-odd">
                <div class="project-desc">
                    <h1>SportDiscuss</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem ex. Quia earum officia
                        libero cumque sint eligendi corrupti exercitationem, doloremque pariatur dolorem veniam eaque
                        aperiam amet, fugiat quas numquam?</p>
                    <div>
                        <a target="_blank" href="https://github.com/masuggs515/Sports_Betting_Forum"><i
                                class="fab fa-github"></i> Code
                            for SportDiscuss</a>

                    </div>
                </div>

                <div class="image-container">
                    <img src="/images/logo.jpg" alt="Avatar" class="project-image">
                    <a target="_blank" href="https://sport-discuss.herokuapp.com/login">
                        <div class="project-overlay">
                            <div class="project-text">Visit Site Here</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="project2" class="box-even">
            <div class="project-even">
                <div class="image-container">
                    <img src="/images/movie-finder.png" alt="Avatar" class="project-image">
                    <a target="_blank" href="https://masuggs515.github.io/movie_finder/movie.html">
                        <div class="project-overlay">
                            <div class="project-text">Visit Site Here</div>
                        </div>
                    </a>
                </div>
                <div class="project-desc">
                    <h1>NextFlick</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem ex. Quia earum officia
                        libero cumque sint eligendi corrupti exercitationem, doloremque pariatur dolorem veniam eaque
                        aperiam amet, fugiat quas numquam?</p>
                    <div>
                        <a target="_blank" href="https://github.com/masuggs515/movie_finder"><i
                                class="fab fa-github"></i> Code
                            for NextFlick</a>

                    </div>
                </div>
            </div>
        </div>

        <div id="project3" class="box-odd">
            <div class="project-odd">
                <div class="project-desc">
                    <h1>Michael's Pizzeria</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem ex. Quia earum officia
                        libero cumque sint eligendi corrupti exercitationem, doloremque pariatur dolorem veniam eaque
                        aperiam amet, fugiat quas numquam?</p>
                    <div>
                        <a target="_blank" href="https://github.com/masuggs515/pizzeria-mock"><i
                                class="fab fa-github"></i> Code
                            for Michael's Pizzeria</a>

                    </div>
                </div>

                <div class="image-container">
                    <img src="/images/pizzeria.png" alt="Avatar" class="project-image">
                    <a target="_blank" href="https://masuggs515.github.io/pizzeria-mock/index.html">
                        <div class="project-overlay">
                            <div class="project-text">Visit Site Here</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="project4" class="box-even">
            <div class="project-even">
                <div class="image-container">
                    <img src="/images/connect-four.png" alt="Avatar" class="project-image">
                    <a target="_blank" href="https://masuggs515.github.io/Connect_Four/">
                        <div class="project-overlay">
                            <div class="project-text">Visit Site Here</div>
                        </div>
                    </a>
                </div>
                <div class="project-desc">
                    <h1>Connect Four</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem ex. Quia earum officia
                        libero cumque sint eligendi corrupti exercitationem, doloremque pariatur dolorem veniam eaque
                        aperiam amet, fugiat quas numquam?</p>
                    <div>
                        <a target="_blank" href="https://github.com/masuggs515/Connect_Four"><i
                                class="fab fa-github"></i> Code
                            for Connect Four</a>

                    </div>
                </div>
            </div>
        </div>

        <div id="project5" class="box-odd">
            <div class="project-odd">
                <div class="project-desc">
                    <h1>Gif Generator</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem ex. Quia earum officia
                        libero cumque sint eligendi corrupti exercitationem, doloremque pariatur dolorem veniam eaque
                        aperiam amet, fugiat quas numquam?</p>
                    <div>
                        <a target="_blank" href="https://github.com/masuggs515/Giphy_Party"><i
                                class="fab fa-github"></i> Code
                            for Gif Generator</a>

                    </div>
                </div>

                <div class="image-container">
                    <img src="/images/gif-generator.png" alt="Avatar" class="project-image">
                    <a target="_blank" href="https://masuggs515.github.io/Giphy_Party/">
                        <div class="project-overlay">
                            <div class="project-text">Visit Site Here</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>        
    </div>

    <ul class="menu">
        <h4>Menu</h4>
        <hr>
        <li><a class="transition-a" href="home.html">Home</a> </li>
        <li><a class="transition-a" href="#">Resume</a> </li>
        <li><a class="transition-a" href="projects.html">Projects</a> </li>
        <li><a class="transition-a" href="about-me.html">About Me</a> </li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
</body>

</html>