@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #eeeeee;
}

#main{
    margin-bottom: 10vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(233,233,233);
    background-color: rgb(11, 32, 56);
    width: 100%;
    font-size: 1.3rem;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 a{
    color: rgb(233,233,233);
    text-decoration: none;
}

header > div{
    margin-right: 2vw;
}

header > div a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 0.4rem;
}

.current{
    color: rgb(93, 122, 150);
}

.logo{
    text-transform: uppercase;
    padding-left: 30px;
}

.menu{
    position: fixed;
    z-index: -3;
    width: 25vw;
    height: 100%;
    top: 0;
    right: -25vw;
    padding: 0 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(11, 32, 56);
    padding-bottom: 20vh;
    transition: 0.7s;
    opacity: 0;
}
.menu.active{
    right: 0;
    z-index: 5;
    opacity: 0.9;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background: url('../images/menu-hamburger.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    transition: 0.7s;
    display: none;
}

.toggle.active{
    background: url('../images/menu-exit.png');
    background-repeat: no-repeat;
    background-size: 40px;
    margin-right: 25vw;
    background-position: center;
    filter: invert(1);
    z-index: 101;
}

.menu h4{
    text-transform: uppercase;
    color: rgb(93, 122, 150);
    padding-bottom: 4px;
}
hr{
    border-color: rgb(93, 122, 150);
}

.menu li{
    margin-top: 40px;
    list-style: none;
    overflow-y: hidden;

}
.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 30px;
    color: rgb(77, 125, 170);
    z-index: 5;
    transition: 0.2s;
}

.menu li a:hover {
    padding-right: 40px;
    margin-right: 40px;
    font-size: 1.1rem;
}


.image-container {
    position: relative;
    width: 100%;
  }
  
  .project-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(11, 32, 56);
    box-shadow: inset -10px -10px 45px 0px rgb(43, 38, 119);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
  }



  
  .image-container:hover .project-overlay {
    opacity: 1;
    cursor: pointer;
  }

 .project-odd, .project-even{
     display: grid;
     grid: 100%/ auto auto;
     width: 70vw;
     height: 40vh;
     align-items: center;
     margin: 2vh auto;
     padding: 5vh 5vw;
     transition: 0.5s;
     border-bottom: 0.5px rgb(0, 0, 99) solid;
 }

 #project3 > div{
     border: none;
 }

 .project-odd img, .project-even img{
     width: 100%;
     height: auto;
 }
 .project-even h1, .project-odd h1{
     color: rgb(77, 125, 170);
 }

 .project-even .project-desc{
     margin-left: 2vw;
 }
 .project-odd{
     text-align: end;
 }
 .project-odd .project-desc{
     margin-right: 2vw;
 }

 .project-desc a{
     color: rgb(77, 125, 170);
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 500;
 }

 .project-desc a:hover{
    color: rgb(214, 114, 0);
    text-decoration: none;
}

.project-group{
    display: flex;
    justify-content: center;
     border-radius: 10px;
     width: 80vw;
     align-items: start;
     margin: 2vh auto;
     padding: 0 5vw;
     transition: 0.5s;
}

.group-item .project-overlay{
    font-size: 1rem;
}

.section-head{
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 99);
    margin-bottom: 4vh;
}

.section-head-top{
    text-align: center;
    text-transform: uppercase;
    color:rgb(0, 0, 99);
    margin-top: 10vh;
}

.project-desc .group-item{
    padding: 0;
}

.group-item{
    display: flex;
    flex-direction: column;
    padding: 4vh 4vw;
    text-align: center;
    color: rgb(0, 0, 99);
    border-right: 0.5px solid rgb(0, 0, 99);
}
.group-item:last-child{
    border: none;
}

.group-item .project-desc h1{
    color: rgb(77, 125, 170);
    border-bottom: 1px rgb(0, 0, 99) solid;
    margin-bottom: 3px;
}

.group-item .project-desc{
    margin: 5px 0;
}

.group-item a{
    color: rgb(77, 125, 170);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
}

.group-item a:hover{
   color: rgb(214, 114, 0);
   text-decoration: none;
}


@media screen and (max-width: 1150px) {
    .project-even, .project-odd{
        width: 100vw;
    }
    .project-group{
        width: 90vw;
    }
    .group-item h1{
        font-size: 1.5rem;
    }
    }
    
@media screen and (max-width: 800px) {
    header h2{
        font-size: 1.5rem;
    }
    header > div a{
        font-size: 0.9rem;
    }
    .group-item h1{
        font-size: 1.2rem;
    }
    .group-item p{
        font-size: 0.8rem;
    }

    }



@media screen and (max-width:600px) {
    header{
        padding: 0;
    }
    header >div{
        display: none;
    }

    .section-head, .section-head-top{
        font-size: 1.5rem;
    }
 
    .toggle{
        background-size: 30px;
        display: block;
    }
    .toggle.active{
        margin: 20vh 0 0 0;
    }

    .menu{
        height: 20vh;
        width: 100vw;
        top: -20vh;
        margin: 0;
        padding: 0;
        font-size: 0.5rem;
    }

    .menu h4{
        padding-bottom: 0;
        margin: 0;
        font-size: 1rem;
    }
    
    .menu li{
        list-style: none;
        overflow-y: hidden;   
        margin: 0; 
        padding-top: 3px;
    }
    .menu li a{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
        font-size: 1rem;
        color: rgb(77, 125, 170);
        transition: 0.2s;
    }
    
    .menu li a:hover {
        padding-right: 20px;
        margin-right: 20px;
        font-size: 1.1rem;
    }

    .menu.active{
        top: 0;
        z-index: 100;
        opacity: 1;
    }

    .project-odd{
        display: flex;
        flex-direction: column-reverse;
        height: 60%;
        margin: 0;
    }

    .project-odd p{
        margin-right: 3vw;
    }

    .project-even{
        display: flex;
        margin: 0;
        flex-direction: column;
        height: 60%;
    }

    .project-even p{
        margin: 0;
        padding: 0;
    }
    .project-desc{
        margin: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-desc h1{
        font-size: 1.2rem;
    }
    .project-desc p{
        font-size: 0.7rem;
        text-align: center;
    }

    .project-desc a{
        font-size: 0.7rem;
    }

    .group-item a{
        font-size: 0.65rem;
    }

}
