@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}



/* Background stripes */
.bg-1{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
    background-color: rgb(11, 32, 56);
}

.bg-2{
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, rgb(11,32,56) 30%, rgb(6,9,46));

}

.bg-3{
    position: absolute;
    top: 150vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, rgb(6, 9, 46) 30%, rgb(0,92,128));
}

.bg-4{
    position: absolute;
    top: 250vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(190deg, rgb(0,92,128), rgb(82,0, 0));

}

.bg-5{
    position: absolute;
    top: 350vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, rgb(82,0,0) 10%, rgb(54, 3, 65) 70%);
    
}

.bg-6{
    position: absolute;
    top: 450vh;
    width: 100vw;
    height: 50vh;
    background-color: rgb(54,3,65);
}



.project-list{
    position: fixed;
    top: 3vh;
    width: 100%;
    margin-left: 5vw;
    align-self: center;
    display: flex;
    justify-content: center;
}
.project-list a{
    background-color: rgb(77, 125, 170);
    color: rgb(11, 32, 56);
    text-decoration: none;
    padding: 3px 9px;
    margin: 0 3px;
    border-radius: 20px;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.project-list a:hover{
    background-color: rgb(11, 32, 56);
    color: rgb(77, 125, 170);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(233,233,233);
    width: 100%;
    font-size: 1.3rem;
    padding: 35px 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 a{
    color: rgb(233,233,233);
    text-decoration: none;
}

.logo{
    text-transform: uppercase;
    padding-left: 30px;
}

.menu{
    position: fixed;
    z-index: -3;
    width: 25vw;
    height: 100%;
    top: 0;
    right: -25vw;
    padding: 0 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(11, 32, 56);
    padding-bottom: 20vh;
    transition: 0.7s;
    opacity: 0;
}
.menu.active{
    right: 0;
    z-index: 5;
    opacity: 0.9;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background: url('../images/menu-hamburger.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    transition: 0.7s;
}

.toggle.active{
    background: url('../images/menu-exit.png');
    background-repeat: no-repeat;
    background-size: 40px;
    margin-right: 25vw;
    background-position: center;
    filter: invert(1);
    z-index: 101;
}

.menu h4{
    text-transform: uppercase;
    color: rgb(93, 122, 150);
    padding-bottom: 4px;
}
hr{
    border-color: rgb(93, 122, 150);
}

.menu li{
    margin-top: 40px;
    list-style: none;
    overflow-y: hidden;

}
.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 30px;
    color: rgb(77, 125, 170);
    z-index: 5;
    transition: 0.2s;
}

.menu li a:hover {
    padding-right: 40px;
    margin-right: 40px;
    font-size: 1.1rem;
}

/* Odd projects 1,3,5 */

.box-odd{
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
    background: url('../images/about-me-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.project-odd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vw;
    color: rgb(233,233,233);
}

.project-odd img{
    width: 100%;
}

.project-odd p{
    margin: 2vh 10vw 2vh 0;

}

.project-odd a{
    text-transform: uppercase;
    color: rgb(77, 125, 170);
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 2px;
}
.project-odd a:hover{
    color: orange;
}

.project-odd a i{
    font-size: 1.5rem;
}

.image-container {
    position: relative;
    width: 100%;
  }
  
  .project-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(14, 57, 97);
  }
 
  
  .image-container:hover .project-overlay {
    opacity: 1;
    cursor: pointer;
  }

  .project-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  /* Even projects 2,4,6 */

  .box-even{
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
    background:url('../images/project-even.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-even{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vw;
    color: rgb(233,233,233);
}

.project-even img{
    width: 100%;
}


.project-even .project-desc{
    margin-left: 10vw;
}
.project-even p{
    margin: 2vh 0 2vh 5vw;

}
.project-even .project-desc{
    text-align: end;
}

.project-even a{
    text-transform: uppercase;
    color: rgb(77, 125, 170);
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 2px;
}
.project-even a:hover{
    color: orange;
}

.project-even a i{
    font-size: 1.5rem;
}

@media screen and (max-width: 1320px) {
    .project-list a{
        font-size: 0.9rem;
    }
    }
    
@media screen and (max-width: 1150px) {
    header h2{
        font-size: 1.5rem;
    }
    .project-list{
        margin-left: 10vw;
    }
    .project-list a{
        font-size: 0.7rem;
    }
    }



@media screen and (max-width:800px) {
    header{
        padding: 0;
    }
    .toggle{
        background-size: 30px;
    }
    .toggle.active{
        margin: 20vh 0 0 0;
    }

    .menu{
        height: 20vh;
        width: 100vw;
        top: -20vh;
        margin: 0;
        padding: 0;
        font-size: 0.5rem;
    }

    .menu h4{
        padding-bottom: 0;
        margin: 0;
        font-size: 1rem;
    }
    
    .menu li{
        list-style: none;
        overflow-y: hidden;   
        margin: 0; 
        padding-top: 3px;
    }
    .menu li a{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
        font-size: 1rem;
        color: rgb(77, 125, 170);
        transition: 0.2s;
    }
    
    .menu li a:hover {
        padding-right: 20px;
        margin-right: 20px;
        font-size: 1.1rem;
    }

    .menu.active{
        top: 0;
        z-index: 100;
        opacity: 1;
    }
    .project-list{
        top: 10vh;
        margin-left: 0;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        
    }
    .project-list a{
        font-size: 0.5rem;
        text-align: center;
    }

    .project-odd{
        margin: 0 10vw;
        flex-direction: column-reverse;
        height: 60%;
    }

    .project-odd p{
        margin-right: 3vw;
    }

    .project-even{
        margin: 0 10vw;
        flex-direction: column;
        align-items: center;
    }

    .project-even p{
        margin: 0;
        padding: 0;
    }
    .project-desc{
        margin: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-desc h1{
        font-size: 1.2rem;
    }
    .project-desc p{
        font-size: 0.7rem;
        text-align: center;
    }

    .project-desc a{
        font-size: 0.7rem;
    }

}
