.swipe{
    position: fixed;
    top: 0;
    width: 200%;
    left: -200%;
    bottom: 0;
    z-index: 4000;
    background-color: rgb(0, 1, 39);
    clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 100%, 0 0);
    pointer-events: none;
    transition: 0.3s ease-out;
}

.swipe.active{
    pointer-events: all;
    left: 0;
}

.swipe-load{
    position: fixed;
    top: 0;
    width: 200%;
    right: -200%;
    bottom: 0;
    z-index: 4000;
    background-color: rgb(0, 1, 39);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
    pointer-events: none;
    transition: 0.3s ease-out;
}

.swipe-load.active2{
    right: 0%;
}